.b-header-block {
    padding: 36px 0;
    background-color: rgba(26,40,63,.03);
    @include transition();

    @include desktop {
        padding: 0;
    }


    &__wrapper {
        display: flex;
        flex-direction: column;
        padding-top: 80px;
        @include desktop {
            flex-direction: row;
            padding-top: 0;
        }
    }

    &__left {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @include desktop {
            height: 674px;
            width: 50%;
            justify-content: center;
        }

    }

    &__left-title {
        @include t-big;
    }

    &__left-phone-title {
        @include t-big;
        color: #e4b400;
        margin-bottom: 20px;
    }

    &__left-phone-note {
        position: relative;
        @include t-content;
        color: $color_gefault;
        // margin-bottom: 24px;
    }

    &__gift {
        width: 30px;
        height: 30px;
        display: inline-block;
        background: url(../img/header/header__gift.svg) no-repeat;
        background-size: cover;
    }

    &__button {
        @include t-content;
        background-color: $color_invert;
        border: none;
        outline: none;
        color: #fff;
        border-radius: 6px;
        padding: 15px 49px 17px;
        margin-top: 24px;

        &:focus {
            border: none;
            outline: none;
        }
    }

    &__right {
        position: relative;
        display: none;
        @include desktop {
            display: block;
            height: 674px;
            width: 50%;
        }

    }

    &__bg-image {
        width: 100%;
        @include desktop {
            position: absolute;
            bottom: 0px;
            right: 0;
        }

    }
}
