.b-header-block {
    padding: 36px 0;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.68) 0%, rgba(247, 133, 0, 0.69) 100%);
    @include transition();

    @include desktop {
        background: linear-gradient(180deg, rgba(255, 0, 0, 0.68) 0%, rgba(247, 133, 0, 0.69) 100%), url('../img/header/b-header-block__bg.jpg') no-repeat;
        background-size: cover;
    }

    &__wrapper {
        display: flex;
        flex-direction: column;
        display: flex;
        align-items: center;
        text-align: center;
        padding-top: 204px;
        @include desktop {
            margin: 0 auto;
            width: 920px;
            height: 770px;
            padding-top: 160px;
        }
    }

    &__top-description {
        color: #5B000B;
        font-size: 17px;
        margin-bottom: 30px;
        @include desktop {
            font-weight: 500;
            font-size: 25px;
            margin-top: 67px;
        }
    }

    &__list {
        width: 232px;
        text-align: left;
        margin-bottom: 24px;

        @include desktop {
            width: auto;
        }
    }

    &__list-item {
        position: relative;
        color: #000;
        margin-bottom: 8px;
        &:before {
            content: '';
            position: absolute;
            width: 20px;
            height: 20px;
            top: 0;
            left: -25px;
            background: url('../img/header/b-header-block__icon_checked_black.svg') no-repeat;
        }
    }

    &__title {
        font-size: 30px;
        font-family: Georgia;
        font-style: normal;
        font-weight: bold;
        @include desktop {
            font-size: 84px;
            margin-bottom: 32px;
        }
    }

    &__description {
        font-size: 14px;
        margin-bottom: 46px;
        @include desktop {
            margin-top: 23px;
            font-size: 25px;
            line-height: 29px;
        }
    }

    &__button {
        width: 323px;
        padding: 15px 49px 17px;
        font-weight: bold;
        font-size: 24px;
        line-height: 28px;
        background: $black;
        border: none;
        outline: none;
        color: #fff;
        border-radius: 30px;
        @include desktop {
            width: 452px;
            // margin-top: 64px;
            &:focus {
                border: none;
                outline: none;
            }
        }
    }
}
