.b-popup {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #00000057;
    z-index: 999;
    @include transition();

    &_state {
        &_shown {
            opacity: 1;
            visibility: visible;
        }
    }

    &__form-wrapper {
        position: relative;
        padding: 10px;
        background: #fff;
    }

    &__close-popup {
        position: absolute;
        display: flex;
        align-items: center;
        top: -36px;
        right: 12px;
        width: 30px;
        height: 30px;
        @include transition();
        cursor: pointer;

        &:hover {
            transform: rotate(-180deg);
        }

        &:before {
            content: '';
            position: absolute;

            width: 30px;
            height: 4px;
            background: #fff;
            transform: rotate(45deg);
        }

        &:after {
            content: '';
            position: absolute;

            width: 30px;
            height: 4px;
            background: #fff;
            transform: rotate(-45deg);
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
    }

    &__title {
        @include t-content-title;
        margin-bottom: 18px;
    }

    &__input-wrapper {
        display: flex;
        flex-direction: column;
        width: 320px;
        margin-bottom: 8px;
    }

    &__label {
        @include t-content;
    }

    &__input {
        padding: 8px;
    }

    &__button {
        @include t-content;
        background-color: $color_invert;
        border: none;
        outline: none;
        color: #fff;
        border-radius: 6px;
        padding: 15px 49px 17px;
        margin-top: 24px;

        &:focus {
            border: none;
            outline: none;
        }
    }
}

