.b-popup {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: #00000057;
    z-index: 999;
    @include transition();

    &_state {
        &_shown {
            opacity: 1;
            visibility: visible;
        }
    }

    &__form-wrapper {
        padding: 10px;
        background: #fff;
    }
}

