@import "~bootstrap/scss/bootstrap";
@import 'base/variables';
@import 'base/mixins';
@import 'base/reset';
@import 'nav';
@import 'header-block';

.b-popup {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #00000057;
    z-index: 999;
    @include transition();

    &_state {
        &_shown {
            opacity: 1;
            visibility: visible;
        }
    }
}


// body {
//   font-family: $font-stack;
//   // font-family: @font-face;

//   .container {

//     padding: 0 24px;

//     @include desktop-1024 {
//       // width: 1060px;
//       width: 1170px;
//       margin-left: auto;
//       margin-right: auto;
//     }

//     &_mobile-indents-none {
//       padding: 0;
//       @include desktop-1024 {
//         padding: 0 24px;
//       }
//     }

//     &_desktop-indents-none {
//       @include desktop-1024 {
//         padding: none;
//       }
//     }
//   }
// }
