@import "~bootstrap/scss/bootstrap";
// @import "~owl.carousel/dist/assets/owl.carousel.css";
@import "owl.carousel";
@import 'base/variables';
@import 'base/mixins';
@import 'base/reset';
@import 'nav';
@import 'header-block';
@import 'services';
@import 'prices';
@import 'top';
@import 'popup';
@import 'order';
@import 'gallery';
@import 'reviews';
@import 'footer-gray';

.el-sections {
    height: auto;
    @include desktop {
        // min-height: 100vh;
    }

}

.order-block {
    width: 272px;
    margin-top: 38px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: $black;
    @include desktop {
        display: none;
    }

    &__text {
        font-size: 20px;
        line-height: 23px;
        margin-right: 10px;
    }
}